{% extends 'base.html' %}

{% block title %}
    Edit User
{% endblock %}

{% block header %}
    <h3 class="title"> Edit </h3>
{% endblock %}

{% block content %}

    <form class="form" method="POST">
        {% with messages = get_flashed_messages () %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message-item">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="group-form">
            <label class="label">First Name</label>
            <input class="input-form" type="text" name="first_name" id="id_first_name" value="{{ user['first_name'] }}">
        </div>
        <div class="group-form">
            <label class="label">Last Name</label>
            <input class="input-form" type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}">
        </div>
        <div class="group-form">
            <label class="label">E-mail</label>
            <input class="input-form" type="text" name="email" id="id_email" value="{{ user.email }}">
        </div>
        <button class="button" type="submit"> Edit </button>
    </form>

{% endblock %}
