
<form class="inline-form">
    <div class="group-form-inline">
        <label class="label">Title:</label>
        <input class="input-form" type="text" name="description">
    </div>
    <div class="group-form-inline">
        <label class="label">Date:</label>
        <input class="input-form" type="text" name="date_task">
    </div>
    <div class="group-form-inline">
        <label class="label">Completed?:</label>
        <select class="select-input" name="completed">
            <option value="default"> Select... </option>
            <option value="yes"> Yes </option>
            <option value="no"> No </option>
        </select>
    </div>
    <input class="button button-filter" type="Submit" value="Filter">
</form>
