<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
    </head>
    <body>
        <header class="header">
            {% if g.user %}
                <p class="login-description">
                    Welcome, {{ g.user['first_name'] }}
                </p>
            {% endif %}
            <nav class="navigation">
                <ul class="menu">
                    {% if g.user %}
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.index') }}">Home</a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.new_task') }}">
                                New Task
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.tasks') }}">View Tasks</a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.edit_user', id=g.user['id']) }}"> Profile </a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.logout') }}"> Logout </a>
                        </li>
                    {% else %}
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.login') }}"> Login </a>
                        </li>
                        <li class="menu-item">
                            <a class="link" href="{{ url_for('app.register') }}"> Register </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="container">
            {% block header %} {% endblock %}
            {% block content %} {% endblock %}
        </div>
        <footer class="footer">
            <p class="description"> Copyright &copy; {{ session['current_year'] }} Developed by João Victor Rocha </p>
        </footer>
    </body>
</html>
